h1 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
    padding: 20px;
} 

body {
    font-family: Arial, sans-serif;
    background-color: #F8F8F8;
    text-align: center;
    margin: 0;
    padding: 0;
}

.product-container {
    border: 2px black;
    display: grid;
    grid-template-columns: repeat(autofit, minmax(250px, 1fr));
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.product-card:hover {
    transform: scale(1.5);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1)
}

.product-card img {
    width: 100px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.product-card h3 {
    margin: 15px;
    font-size: 20px;
    color: #333;
}

.product-card p {
    font-size: 14px;
    color: #666;
}

.price {
    font-size: 18px;
    color: green;
    font-weight: bold;
    margin: 12px 0;
}

button {
    display: inline-block;
    padding: 10px 15px;
    margin-top: 10px;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

button:hover {
    background: #0056b3;
}

@media (max-width: 600px)  and (max-width:1024px) {
    .product-card img {
        height: 150px;
    }
    .product-card h3 {
        font-size: 16px;
    }
    .product-card p {
        font-size: 12px;
    }
}